body{
    font-size: 14px;
}

.boldedText{
    font-weight: 600;
}

#myResumeName{
    margin: 0;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

#contactInfo{
    margin: 0;
    text-align: center;
}

.topText{
    float: left;
    width: 14%;
    margin-left: 16%;
}

.topHeaderText{
    float: left;
    width: 50%;
}

.indentSpan{
    float: left;
    width: 14%;
    margin-left: 16%;
}

.indentText{
    float: left;
    width: 35%;
}

.longerIndentText{
    float: left;
    width: 70%;
}

#programmingList{
    margin-left: 30%;
    list-style-type: circle;
}

#additionalWork{
    margin-bottom: 60px;
}