* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html {
	width: 100%;
}

body {
    font: 700 1em "Arial";
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    outline: none;
	text-decoration: none;
}

svg {
	cursor: pointer;
}

/** NAV BAR **/

.nav {
	position: fixed;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	padding: 10px 0px;
	background-color: white;
	right: 0;
	background-position: right;
}

.nav-svg {
	fill: #383C3D;
	vertical-align: middle;
}

#nav-top {
	padding-left: 4vw;
	flex-grow: 1.5;
	pointer-events: none;
	cursor: default;
}

a > svg {
	pointer-events: auto;
}

.nav-wrapper {
	display: inline-flex;
	justify-content: space-between;
	flex-grow: 1;
}

.nav-button {
	margin: 0;
}

.nav-wrapper > .nav-button {
	color: #383C3D;
	padding: 0px 10px;
}

#nav-controller {
	padding-right: 4vw;
	flex-grow: 1.5;
	text-align: right;
}

.nav-button > svg:hover, .nav-wrapper > .nav-button:hover {
}

/** HEADER **/

.header {
	height: 100vh;
	background-color: #383C3D;
	color: #FFFFFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}

.top-wrapper {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: flex-end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

#scroll-down-button {
	margin-top: calc(50vh - 100px);
	fill: white;
}

/** ABOUT **/

.half-content {
	height: 50vh;
	background-color: #383C3D;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}

#about {
	background-color: #FFFFFF;
	color: #000000;
}

.heading {
	text-align: center;
	margin: 4vh 0;
}

.p-wrapper {
	width: 50%;
	margin: 0 auto 4vh auto;
}

#resume {
	width: 50%;
	display: block;
	margin: 0 auto;
	text-align: center;
}

/** CONTACT **/

#contact {
	background-color: #DE5071;
	color: #FFFFFF;
}