body{
    font: 700 1em "Arial";
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    min-width: 1200px;
}

a:focus{
    outline: none;
}

ul.navUL{
    list-style-type: none;
    margin: 2% 0 0 0;
    padding: 0;
}

    ul.navUL li{
        display: inline;
    }
    
        ul li a.navButtons:hover, ul li a.navButtons:visited, ul li a.navButtons:link, ul li a.navButtons:active{
            text-decoration: none;
            margin-left: 30px;
            padding-top: 6px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 6px;
            border-radius: 3px;
            color: #3D4544;
        }

#navigation{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 1% 0 0 0;
    font-size: 16px;
}

#myNameLink, #myNameLink:visited, #myNameLink:hover, #myNameLink:active{
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.navButtons:hover{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: #A3DAD3;
}

.navButtons{
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    background-color: #FFFFFF;
}

hr.navBreak{
    border: 0;
    height: 1px;
    width: 60%;
    margin: 30px auto 0 auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr#projectBreak{
    border: 0;
    height: 1px;
    width: 60%;
    margin: 50px auto 0 auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#contactButton{
    border-style: solid;
    border-width: 1.2px;
    border-radius: 3px;
    border-color: #A3DAD3;
    font-weight: 600;
}


#currentButton{
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    background-color: #F0F0F0;
}

#currentButton:hover{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: #E0E0E0;
}

#selectedHeader{ /* selected projects */
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
}

#rowOne, #rowTwo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#project0{
    margin-right: 15px;
    display: inline-block;
}

#project1{
    margin-left: 15px;
    display: inline-block;
}

#project2{
    margin-right: 15px;
    margin-top: 40px;
    display: inline-block;
}

#project3{
    margin-left: 15px;
    display: inline-block;
}

.imageButton{
    position: relative;
    width: 100%;
    height: auto;
}

.imageText{
    position: absolute;
    text-align: center;
    margin-top: -11px; /*FIXME*/
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    max-width: 400px; /*FIXME*/
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    color: #BFFFF7;
    background-color: #2B2B2B;
    top: 0px;
    overflow: hidden;
    font-weight: 600;
    opacity: 0.6;
}

.imageText:hover{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    opacity: 0.9;
}

.imageButton:hover .imageText{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    opacity: 0.9;
}

#aboutMeHeader{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

#aboutMeDescription {
    font-size: 17px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 60%;
    margin-bottom: 70px;
}